@using SleepSync.Models.Entities
@using static SleepSync.Models.Entities.SupportEnums

@model SleepSync.Models.Viewmodels.AddTaskViewmodel

<h1 class="mb-4">Add a New Task</h1>

<form method="post" novalidate>
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Task</label>
        <input type="text" class="form-control" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Task's Description</label>
        <input type="text" class="form-control" asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Priority" class="form-label">Task's Priority</label>
        <select asp-for="Priority" asp-items="Html.GetEnumSelectList<SupportEnums.Priority>()" class="form-select">
            <option value="">-- Select the Priority --</option>
        </select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="IsCompleted" asp-for="IsCompleted" />
        <label class="form-check-label" for="IsCompleted">Is the task completed?</label>
        <span asp-validation-for="IsCompleted" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Mood" class="form-label">Current Mood while doing the Task</label>
        <select asp-for="Mood" asp-items="Html.GetEnumSelectList<SupportEnums.MoodLevel>()" class="form-select">
            <option value="">-- Select the Mood --</option>
        </select>
        <span asp-validation-for="Mood" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Task</button>
</form>
